.TechStack {
    div {
        height: 1.5rem;
        fill: white;
    }

    span {
        color: white;
        font-family: monospace;

        &::after {
            margin-left: 0.5rem;
            font-size: 0.7rem;
        }
    }

    &.Proficiency-0 {
        span::after {
            content: "(Novice)";
        }
    }

    &.Proficiency-1 {
        span::after {
            content: "(Beginner)";
        }
    }
}
