$primary: #8adbae;

@font-face {
    font-family: 'MonospaceRadon';
    src: url('./assets/MonaspaceRadon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    overflow-y: scroll;
    scrollbar-width: none;
}

@import "bootstrap/scss/bootstrap.scss";
