$primary: #8adbae;

@import "bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: 'MonaspaceRadon';
    src: url('./assets/MonaspaceRadon-Regular.woff2') format('woff2'),
        url('./assets/MonaspaceRadon-Regular.woff') format('woff');
}
