$primary: #8adbae;

@import "bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: 'MonospaceRadon';
    src: url('./assets/MonaspaceRadon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
